
.pg-home {
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-direction: column;


    .card-day-plan {
        background-color: #ffffff;
        height: 100%;
        position: relative;
        .day-item-one {
            position: absolute;
            left: 10%;
            top: 10%;
            background-color: #61dafb;
            height: 80%;
            width: 80%
        }

        .day-item-two {

        }

        .day-item-three {

        }
    }

    .home-container {
        flex: 1
    }

    .bottom-btn {
        width: 100%;
        .flex-item {
            flex: 1
        }
        .flex-item--click {
            flex: 1;
            background-color: #b6c7d0;
        }
        bottom: 0;
        height: 80px;
        display: flex;
        align-content:center;
        img {
            margin: -40px;
            height: 32px;
        }
    }

}
